.App {
    //border: 1px solid red;
    width: 100%;
    height: 100%;
    
}
.page {
    //border: 1px solid red;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 3%;
}
.tags {
    color: #dff538;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
}
.top-tags {
    bottom: auto;
    top: 40px;
    margin-left: 10px;
}
.top-tag-html {
    margin-left: -20px;
    top: 10px;
}
.bottom-tag-html {
    margin-left: -20px;
}

.container {
    //border: 1px solid red;
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container.about-page, .container.contact-page, .container.portfolio-page {
    .text-zone {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        // border: 1px solid #dff538;
        width: 50%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
    h1 {
        font-size: 80px;
        font-family: 'Coolvetica';
        color: #fff;
        font-weight: 400;       
        position: relative;
        margin-top: 0;
        margin-bottom: 40px;

        &:before {
            content: '<h1>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 30px;
            position: absolute;
            opacity: 0.8;
            line-height: 18px;
            margin-top: -10px;
            left: -10px;       
        }
        &:after {
            content: '</h1>';
            font-family: 'La Belle Aurore', cursive;
            color: #ffd700;
            font-size: 30px;
            position: absolute;
            opacity: 0.8;
            line-height: 18px;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
        }
    }
    p {
        font-size: 20px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        max-width: fit-content;
        animation: pulse 4s;
        &:nth-of-type(1) {animation-delay: 1.2s}
        &:nth-of-type(2) {animation-delay: 1.3s}
        &:nth-of-type(3) {animation-delay: 1.4s}
    }    

    .text-animate-hover {
        &:hover {color: #ffd700;}
    }
    
}

@media screen and (max-width: 1200px) {
    .page {
        position: initial;
    }
    .container {
        position: initial;
        height: auto;
        min-height: auto;

        &.about-page, &.contact-page, &.portfolio-page {
            .text-zone {
                position: initial;
                transform: none;
                width: 100%;
                display: block;
                padding: 20px;
                box-sizing: border-box;
            }
        }
        &.portfolio-page {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;

            h1.page-title {
                margin-left: 20px;
                margin-top: 20px;
            }
            .image-box {
                height: 200px;
                max-width: calc(50% - 10px);
            }
        }
    }

    // .stage-cube-cont {
    //     position: absolute;
    //     left: 100px;
    //     display: in-block;
    //     width: 100%;
    //     height: 0%;
    //     overflow: visible;
    //     border: 1px solid #dff538;
    // }
}

