@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav-bar {
    // border: 1px solid yellow;
    background: #dbf9fc;
    width: 110px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 600px; //height of the sidebar
    //overflow: visible;
    
    .logo {
        display: block;
        padding: 8px 0;    
        img {
            display: block;
            margin: 8px auto;
            width: 42px;
            height: auto;    
            animation: App-logo-spin infinite 20s linear;           
        }
    }
    /*Navbar menu icons*/
    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 45%;
        margin-top: -120px;
        width: 100%;    
        a {         //FontAwesomeIcon
            font-size: 32px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;    
        i {          //FontAwesomeIcon
            transition: all 0.3s ease-out;
            size: 45px;
        }    
        &:hover {
            color: #4d4d4e;    
            svg {     //FontAwesome disapears
                opacity: 0;
            }    
            &:after {  //Menu text appears instead of FontAwesome
                opacity: 1;
            }
        }

        &:after {      //effect during hover on NavLink menu text
            content: '';
            font-size: 20px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            transform: scale(0.7);
            text-align: center;
            opacity: 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            }    
        &:first-child {
                &:after { content: 'HOME'; }
            }
        }    
        a.about-link {
            &:after { content: 'ABOUT'; }
        }
        a.contact-link {
            &:after { content: 'CONTACT'; }
        }   
        a.portfolio-link { &:after {
                content: 'PROJECT'; }
        }

        a.active {
            svg {
                color: #ffd700;
            }
        }
    }
    /*Navbar SNS icons*/
    ul {
        position: absolute;
        top: 70%;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {   //SNS anchor icons
            padding: 7px 0;
            display: block;
            font-size: 30px;
            line-height: 16px;
            color: #4d4d4e;
            }
    
            &:hover {
                .anchor-icon {
                color: #ffd700;
                }
            }
        }
    }
}

.hamburger-icon, .close-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar { 
        background: transparent;
        position: initial;
        height: auto;
        min-height: auto;

        ul, nav {
        display: none;
        }

        nav {
            width: 100%;
            top: 0;
            left: 0;
            padding-top: 10px;
            background: #dbf9fc90;
            height: 100%;
            margin: 0;
            z-index: 2;
            position: fixed;

            &.mobile-show {
            display: block;
            }

            a {
            display: flex;
            justify-content: center;
            align-items: center;
            }
    
            a:after {
            opacity: 1;
            position: initial;
            width: auto;
            margin-left: 10PX;
            }
    
            a svg {
            opacity: 1 !important;
            }
        }

        .hamburger-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
        }

        .close-icon {           
            position: absolute;
            top: 2.5%;
            right: 8%;
            display: block;
        }
    }
}
